@tailwind base;
@tailwind components;
@tailwind utilities;


/* 기본 마크다운 스타일 */
.markdown-preview h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.6em 0;
}

.markdown-preview h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.6em 0;
}

.markdown-preview h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-preview h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-preview h5 {
  font-size: 0.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-preview h6 {
  font-size: 0.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

.markdown-preview ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.markdown-preview ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.markdown-preview blockquote {
  padding-left: 1em;
  border-left: 3px solid #ddd;
  color: #555;
}

.markdown-preview code {
  font-family: "Courier New", monospace;
  background: #f3f3f3;
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown-preview hr {
  margin: 2em 0;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview ul,
.markdown-preview ol,
.markdown-preview p,
.markdown-preview blockquote {
  display: block !important;
  width: 100%;
}


.markdown-preview * {
  break-inside: avoid;
  page-break-inside: avoid;
}

.page-container {
  column-fill: auto;
  column-gap: 0;
}

.markdown-column {
  column-fill: auto;
  column-gap: 0;
  break-inside: avoid;
}

.markdown-preview {
  white-space: normal;
}

.markdown-preview p {
  white-space: pre-wrap;
}

.markdown-preview pre {
  background-color: #f3f3f3;
  padding: 1em;
}